<div class="about-container">
  <section class="about-section reach-us">
    <h2><i class="fas fa-horse"></i> Cine suntem</h2>
    <p>
      Magic Action Horses este un centru de echitație dedicat pasionaților de
      cai, oferind experiențe autentice și sigure într-un cadru natural,
      liniștit. Aici, învățăm să iubim și să respectăm caii, oferind lecții de
      călărie pentru toate vârstele și nivelurile, de la începători la avansați.
      Atmosfera prietenoasă și instructorii calificați fac din fiecare vizită o
      adevărată aventură ecvestră.
    </p>
  </section>

  <section class="about-section reach-us">
    <h2><i class="fas fa-map-marker-alt"></i> Cum ajungi la noi</h2>

    <p>
      Ne-am mutat în <strong>Săftica, Ilfov</strong>.
      <a href="https://waze.com/ul/hsxftcmv5e" target="_blank">
        <i class="fab fa-waze"></i> Deschideți în Waze
      </a>
    </p>

    <p class="ranch-info">
      Activitatea se desfășoară în cadrul
      <strong>Clubului de Echitație Animo Ranch</strong>, Str. Antenei, nr. 10,
      Săftica, Ilfov.
    </p>

    <div class="directions-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.0465100446813!2d26.07494377588709!3d44.63696637107245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b219a0bece48ef%3A0x5803c7bb72c0c6d4!2sMagic%20Action%20Horses!5e0!3m2!1sro!2sro!4v1756670259668!5m2!1sro!2sro" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="directions-text">
        <p><strong>Acces din DN1:</strong></p>
        <p>
          DN1 (direcția spre Snagov) → dreapta în Dimieni (pe str. Ion Lahovari)
          → prima la dreapta pe Str. Antenelor.
        </p>

        <p><strong>Acces din Șoseaua de Centură:</strong></p>
        <p>
          Se intră în Tunari → se trece prin Dimieni, peste calea ferată → la
          prima intersecție, stânga spre Balotești → în centrul comunei, la
          monument, dreapta pe Str. I.C. Brătianu → urmați drumul principal
          (artera 200B) care duce în str. Ion Lahovari → continuați înainte până
          la Str. Antenelor (stânga, marcată de 4–5 stâlpi înalți).
        </p>

        <p><em>Dacă ajungeți în DN1, înseamnă că ați trecut de noi!</em></p>
      </div>
    </div>
  </section>

  <section class="about-section contact reach-us">
    <h2><i class="fas fa-envelope"></i> Contact</h2>
    <p>
      <i class="fas fa-paper-plane"></i>
      Email:
      <a href="mailto:madalina.burghelea@ymail.com"
        >madalina.burghelea&#64;ymail.com</a
      >
    </p>
    <p>
      <i class="fas fa-phone-alt"></i>Telefon:
      <a href="tel:+40 720 759 624">+40 720 759 624 </a> – Madalina Burghelea
    </p>
    <p>
      <i class="fab fa-instagram"></i> Instagram:
      <a href="https://instagram.com/magic_action_horses" target="_blank"
        >magic_action_horses</a
      >
    </p>
  </section>
</div>
